.namespace-detail {
    .ant-tabs-tabpane {
        padding: 20px;
    }
    .ns-collections {
        display: flex;
        height: 450px;
        border: 1px solid #c6c0c0;
        border-radius: 8px;
        > div {
            width: 300px;
            border-right: 1px solid #c6c0c0;
            &:last-child {
                border-right: 0;
            }
        }
        .anticon-right {
            display: none;
        }
        .active {
            background-color: #d9d9d9;
            .anticon-right {
                display: block;
                position: relative;
                float: right;
                top: 4px;
            }
        }
    }
    .docs-panel {
        .anticon-right {
            display: none;
        }
        .active {
            background-color: #d9d9d9;
            .anticon-right {
                display: block;
                position: relative;
                float: right;
                top: 4px;
            }
        }
    }
    .docs-detail {
        padding: 7px;
        flex: 1;
    }
}
